.topSectionContainer {
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13%;
    z-index:99;
}

.topSectionTitle {
    margin: 0;
    color: yellowgreen;
    font-weight: 800;
    font-size: 4rem;
}

.slogan {
    margin: 0;
    margin-top: 1.5rem;
    color: yellowgreen;
    font-weight: 700;
    font-size: 2rem;
}

.desc {
    margin: 0;
    margin-top: 3rem;
    color: yellowgreen;
    background-color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    max-width: 50%;
}